.main-nav li .glyphicon {
    margin-right: 10px;
}

body {
    /* padding-top: 50px;
    left: -100px;*/
    /*height: 100% !important;*/
    /*width: 110%;*/
    /*background-image: linear-gradient(to right bottom, #000000, #ffc300, #994a34, #4e2527, #ffc300) !important;*/
}

div#root {
    height: 100% !important;
    /*min-height: 100vh !important;*/
    width: 100%; /* remove this line to see div.app is no more 100% height */
    background-image: linear-gradient(to right bottom, #000000, #ffc300, #994a34, #4e2527, #ffc300) !important;
    padding-bottom: 20px;
    /*height:80%;
    padding: 0 30px;*/
    /* margin-left: 300px;*/
    /*top: -100px;
    position: relative;*/
    /*height: 100% !important;*/
    /*background-image: linear-gradient(to right bottom, #000000, #ffc300, #994a34, #4e2527, #ffc300) !important;*/
}

.muiListContainer {
    columns: 2 auto;
}

.selectBoxItem {
    padding: 10px;
    
}

.selectBox {
    background-color: rgb(232, 240, 254);
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: none;
    width: 169px;
}
.fetchHeader {
    /*display: block;*/
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    height: 0px;
    width: 80%;
    z-index: 1000;
    /*border-style: solid;
    border-width: 5px;*/
    clear: both;
}

ul {
    list-style: none;
    /*width: 120px;*/
    /*left: -30px;*/
    margin: 0px;
    padding: 0 0 0 20px;
}

li {
    /*background-color: gold;
    width: 150px;
    border-radius: 5px;
    font-size: xx-large;
    float: left;*/
    position: relative;
    left: 10px;
}

.container {
    /*position: absolute;*/
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    background-color: #008aff !important;
    border-radius: 10px 10px 10px 10px;
}

.iconSize {
    width: 30px;
    height: 30px;
}

.iconSizeBigger {
    width: 50px;
    height: 50px;
}

.iconSizeBiggerPlus {
    width: 55px;
    height: 55px;
}

.iconSizeBiggerBig {
    width: 190px;
    height: 190px;
}

.iconSizeMedium {
    width: 140px;
    height: 140px;
}

.iconSizeSmaller {
    width: 20px;
    height: 20px;
    float:right;
}

.iconSizeSmallerNoFloat {
    width: 20px;
    height: 20px;
}

.circular {
    margin-left: 43%;
    position: relative;
    top: 300px;
}

.header {
    /*border-radius: 10px !important;*/
    /* border-top-left-radius: 10px;
     border-radi*/
    font: bold !important;
    background-color: black !important;
    color: white;
    width: 100%;
    font-size: 16px;
    flex-wrap: wrap !important;
    /*height: 35px !important;*/
    /* height: 700px;
    */
}

/**::-webkit-scrollbar {
    display: none;
}*/

/*.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    display: none !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
    color: tomato;
    white-space: normal !important;
    word-wrap: break-word !important;
    flex-wrap: wrap !important;
}*/
.forceHorozontal {
    /*left: 200px !important;
    position: relative !important;*/
}

.navLink {
    width: 300px;
}

.link:active {
    /*background-color: rgb(255, 195, 0) !important;*/
    /*background-image: linear-gradient(to right, rgb(255, 195, 0, 1), rgb(255, 195, 0, 0, .18));*/
    background-image: linear-gradient(to right bottom, #ffc300, #ffc300, #994a34, #4e2527, #000000);
    color: white !important;
}

.link:hover {
    /*background-color: rgb(255, 195, 0) !important;*/
    /*background-image: linear-gradient(to right, rgb(255, 195, 0, 1), rgb(255, 195, 0, .18));*/
    background-image: linear-gradient(to right bottom, #ffc300, #ffc300, #994a34, #4e2527, #000000);
    color: white !important;
    cursor: pointer;
}

.searchHover:hover {
    cursor: pointer;
    background-color: black;
}

/* .link:focus {
        background-color: gold !important;
        color: white !important;
    rgba(255,195,0,1)
    }*/
.special {
    /*background-color: rgb(255, 203, 0) !important;*/
    /*background-image: linear-gradient(to right, rgb(255, 195, 0, 1), rgb(255, 195, 0, .18));*/
    /*background: rgb(2,0,36);*/
    background-image: linear-gradient(to right bottom, #ffc300, #ffc300, #994a34, #4e2527, #000000);
    /*background-image: linear-gradient(to right bottom, #ffc300, #d87f2d, #994a34, #4e2527, #000000);*/
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    width: 175px;
    padding-left: 10px;
}

.link {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 175px;
    padding-left: 10px;
}

.divMenuWrapper {
    background-color: black;
    color: white;
    width: 195px;
    position: absolute;
    top: 245px;
    left: 10px;
    border-radius: 10px 10px 10px 10px;
    /*padding-left: 10px;*/
}

/*.menuItemTop {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 175px;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
}*/
.Header {
    width: 100%;
    top: 8px;
    position: absolute;
    height: 220px;
    /*background-color: black;*/
    /*background-image: linear-gradient(to right bottom, #ffc300, #ffc300, #994a34, #4e2527, #000000);*/
    /*background-image: linear-gradient(to right bottom, #000000, #ffc300, #994a34, #4e2527, #ffc300);*/
}

.logoImage {
    top:8px;
}

.SignInSignUp {
    align-content: center;
}

.whiteText {
    color: white !important;
}

.shoppingCartText {
    color: white !important;
    /*top: -8px !important;*/
}

.shoppingCartContainer {
    position: relative;
    text-align: center;
    color: white;
    left: -100px;
    width: 100px;
}

.shoppingCartCentered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whiteTextSmallerSize {
    display:block;
    color: white !important;
    width: 200px !important;
    font-size: 15px;
}

.round {
    /*background: -moz-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    /*background: -o-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    background: -webkit-radial-gradient(0 100%, circle, rgba(0,0,0,0) 0px, #000000 0px), -webkit-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 6px, #000000 8px), -webkit-radial-gradient(100% 0, circle, rgba(0,0,0,0) 0px, #000000 0px), -webkit-radial-gradient(0 0, circle, rgba(0,0,0,0) 0px, #000000 0px);
    /*background: -webkit-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    background-position: bottom left, bottom right, top right, top left;
    /*background-position: bottom left, top right, top left;*/
    /*-moz-background-size: 50% 50%;*/
    /*-webkit-background-size: 50% 50%;*/
    background-size: 50% 50%;
    background-repeat: no-repeat;
    /*background-color: black;*/
    width: 12px;
    min-width: 10px;
    min-height: 5vh;
    position: relative;
    top: -53.5px;
    left: -25.6px;
}

.roundRight {
    /*background: -moz-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -moz-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    /*background: -o-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -o-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    background: -webkit-radial-gradient(0 100%, circle, rgba(0,0,0,0) 6px, #000000 8px), -webkit-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 0px, #000000 0px), -webkit-radial-gradient(100% 0, circle, rgba(0,0,0,0) 0px, #000000 0px), -webkit-radial-gradient(0 0, circle, rgba(0,0,0,0) 0px, #000000 0px);
    /*background: -webkit-radial-gradient(0 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(100% 100%, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(100% 0, circle, rgba(0,0,0,0) 14px, #000000 15px), -webkit-radial-gradient(0 0, circle, rgba(0,0,0,0) 14px, #000000 15px);*/
    background-position: bottom left, bottom right, top right, top left;
    /*background-position: bottom left, top right, top left;*/
    /*-moz-background-size: 50% 50%;*/
    /*-webkit-background-size: 50% 50%;*/
    background-size: 50% 50%;
    background-repeat: no-repeat;
    /*background-color: black;*/
    width: 12px;
    min-width: 10px;
    min-height: 5vh;
    position: relative;
    top: -100px;
    right: -976px;
}

.divBlack {
    background-color: black;
}

.divBlackHeader {
    background-color: black;
    color: white;
    font: bold !important;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    font-size: 20px;
    /*padding-left: 20px;*/
    margin-bottom: 10px;
}

.divBlackHeaderNoRadius {
    background-color: black;
    color: white;
    font: bold;
    /*border-radius: 10px 10px 0px 0px;*/
    width: 100%;
    font-size: 20px;
    /*padding-left: 20px;*/
    margin-bottom: 10px;
}

.divBottomFooter {
    /*margin-bottom: 15px;*/
    padding-bottom: 15px;
}

.divButton {
    height: auto;
    overflow: auto;
    margin-right: 30px;
}

.ulButton {
    display: inline-flex;
    justify-content: center;
    /*display: inline-block;*/
    align-items: center;
    height: 30px;
    text-align: center !important;
    /*vertical-align: middle;*/
    /*overflow: auto;*/
    margin-right: 40px;
    /*float: right;*/
    background-color: black;
    width: 178px;
}

.divPadLeft {
    padding-left: 30px;
}

.divBlackHeaderText {
    padding-left: 30px;
    font: bold !important;
    /*text-align:center;*/
}

.divBlackHeaderTextAlignLeft {
    padding-left: 30px;
    /*text-align: center;*/
}

.backBlack {
    background-color: black;
    height: 100%;
    min-height: 100vh;
    min-width: 200px;
}

.backBlackRight {
    /*background-color: black;*/
    /*height: 100%;*/
    /*min-height: 100vh;*/
   /* min-width: 220px;*/
   /* width: 220px;*/
    position: absolute;
    right: 50px;
    top: 215px;
}

.blackRightContent {
    /*padding-left: 20px;*/
    /*display: flex;*/
    flex-direction: column;
}

.liDivLeft {
    /*display: inline;*/
    float: left;
    /*margin-right: 10px;*/
}

.liDivRight {
    /*display: inline;*/
    /*float: right;*/
    /*margin-right: 10px;*/
    width: 73%;
}

.table2 {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    left: 200px;
    padding-left: 20px !important;
}

.topDiv {
    position: absolute;
    /* top: 8px;*/
    left: 235px;
    width: 65%;
    /*transform: translate(-50%, -50%);*/
    /*font-size: 18px;*/
    height: 280px;
    color: white;
    top: 35px;
    /*background-image: linear-gradient(to right bottom, #ffc300, #ffc300, #994a34, #4e2527, #000000);*/
}

.topMenu {
    position: relative;
    top: 8px;
    font-size: 18px;
    float: right;
    padding-left: 10px;
    padding-right: 50px;
    color: #008aff !important;
}

.adjustAlbumImageEdit {
    height: 200px;
    position: relative;
    top: 8px;
    font-size: 18px;
    float: right;
    /*padding-left: 10px;*/
    /*padding-right: 50px;*/
    color: #008aff !important;
    /*flex: 1;*/
    flex-direction: row !important;
    width: 100px !important;
    right: 120px !important;
}

.topMenu2 {
    position: relative;
    top: 25px;
    font-size: 18px;
    float: right;
    padding-left: 10px;
    padding-right: 50px;
    color: #008aff !important;
}

.topMenuItem {
    position: relative;
    padding-right: 4px;
    color: white;
    font: bold;
    font-size: 22px;
    text-align: center;
    top: -65px;
}

.topMenuItemAlbumDetails {
    /*position: relative;*/
    padding-right: 4px;
    color: white;
    font: bold;
    font-size: 22px;
    text-align: center;
}

.topMenuItem2 {
    padding-right: 20px;
    /*top: 20px !important;*/
}

.blockDiv {
    display: block;
    float: right;
    left: 100px;
    /*padding-left: 50px;*/
}
.flexParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexParentRight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*float: right;*/
    padding-left: 65px;
    margin: auto;
    width: 100%;
    
}

.container-side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 210px;
    left: 230px;
    /*width: 83%;*/
    min-width: 80% !important;
    padding-bottom: 30px;
    /*height: 100%;*/
}

.flex-child-left {
    flex: 1;
    /*border: 2px solid yellow;*/
    /*width: 80% !important;*/
    min-width: 80% !important;
    /*position: relative;*/
    top: 25px;
    /*border-radius: 25px;*/
    /*padding-left: 20px;*/
    /*clearfix:*/
}

.flex-child-right {
    flex: 1;
    /*border: 2px solid yellow;*/
    /*width: 20% !important;*/
    /*min-width: 30% !important;*/
    word-wrap: break-word !important;
    /*flex-wrap: wrap !important;*/
    /*flex-wrap: wrap;*/
}

.flex-child-right2 {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    padding-left: 30px;
    color: white;
    width: 100% !important;
}

.flex-li-left {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    position: relative;
    /*padding-left: 20px;*/
    color: white;
    max-width: 25% !important;
}

.flex-li-right {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    position: relative;
    /*padding-left: 20px;*/
    color: white;
    width: 75% !important;
}

.flex-li-left2 {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    position: relative;
    /*padding-left: 20px;*/
    color: white;
    max-width: 25% !important;
}

.flex-li-right2 {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    position: relative;
    /*padding-left: 20px;*/
    color: white;
    width: 80% !important;
}

.flex-info-right {
    flex: 1;
    flex-direction: column !important;
    word-wrap: break-word !important;
    position: absolute;
    /*padding-left: 20px;*/
    color: white;
    /*width: 80% !important;*/
    left: 180px;
    max-width: 20px !important;
}

.inputLength {
    width: 300px;
}
    .mainPanel {
    /* position: relative;
    width: 70%;*/
    padding-left: 20px !important;
    /*display: inline-block !important; #d3d3d3*/
    background-color: #008aff !important;
    border-radius: 10px 10px 10px 10px;
}

.mainPanelNoPad {
    /* position: relative;
    width: 70%;*/
    /*padding-left: 20px !important;*/
    /*display: inline-block !important; #d3d3d3*/
    background-color: #008aff !important;
    border-radius: 10px 10px 10px 10px;
}

.gridPanel {
    /* position: relative;*/
    width: 100%;
    /*padding-left: 20px !important;*/
    display: inline-block !important;
    background-color: #008aff !important;
    border-radius: 10px 10px 10px 10px;
    color: white !important;
}

.column2Top {
    position: relative;
    top: 20px;
    /*overflow: scroll;*/
    /*overflow-x: scroll;*/
    overflow-x: auto;
    white-space: nowrap;
    /*overflow-x: auto;
    overflow-y: hidden;*/
    width: 95%;
    /*display: flex;*/
}

.createDiv {
    /*border-radius: 0px 0px 10px 10px !important;*/
   /* padding-bottom: 10px;
    padding-left: 30px;*/
    padding: 30px;
    /*color: #008aff;*/
    /*color: white;
    float: left;
    background-color: #008aff !important;
    border-radius: 0px 0px 10px 10px;
    width: 97.5%;
    position: relative;*/
    /*top: -20px;*/
}

.createLink {
    background-color: black !important;
    color: white;
    text-align: center;
    /*font-size: 20px;*/
    /*margin: 0px 0px 20px 10px;*/
    padding: 10px;
    border-radius: 10px !important;
    width: 200px;
}

.buttonBlack {
    background-color: black;
    width: 150px;
}

.bottomButtons {
    float: right;
    background-color: black;
    width: 178px;
    /*text-align: center;*/
}

.bottomButtonAdjust {
    margin-right: 30px;
}

.bottomButtonAdjust2 {
    position: relative;
    margin-right: 150px;
    top: -10px;
}
.musicianSearch {
    float: right;
    /*background-color: black;
    width: 150px;*/
    /*text-align: center;*/
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 200px;
    float: left;
}

    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        float: left;
        width: 100%;
    }
/*
@media (max-width: 300px) {*/
/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
/*body {
        padding-top: 50px;
        left: -100%;
    }
}

@media (min-width: 300px) {*/
/* On small screens, convert the nav menu to a vertical sidebar */
/*.main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            
        }

        .main-nav .navbar-header {
            float: none;
        }

        .main-nav .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }

        .main-nav .navbar ul {
            float: none;
        }

        .main-nav .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }

            .main-nav .navbar li a {
                padding: 10px 16px;
                border-radius: 4px;
            }

        .main-nav .navbar a {*/
/* If a menu item's text is too long, truncate it */
/*width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}*/
